option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - namespace: aws:elasticbeanstalk:container:python
    option_name: StaticFiles
    value: /static=static
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static
    value: static
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 8
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t1.micro
  - option_name: CONFIG_MODULE
    value: config_prod
  - option_name: DJANGO_SETTINGS_MODULE
    value: production_settings
